# Python
__pycache__/
*.py[cod]
*$py.class
veolia_api/__pycache__/

# Testing / coverage
.pytest_cache/
.pytest*
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/
.nox/

# Linters / type checkers
.ruff_cache/
.mypy_cache/

# Build artifacts
dist/
build/
*.egg-info/

# Environments
.env
.venv/
env/
/.pypirc

# IDE
.idea
.vscode

# Local / scratch
/debug_api.py
